@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Ubuntu:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply bg-[#ecf0f3] font-medium text-[#1f2937] tracking-wide;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }
    h2 {
        @apply text-3xl sm:text-4xl md:text-5xl;
    }
    li {
        @apply cursor-pointer;
    }
    button,
    button[type="submit"] {
        @apply cursor-pointer shadow-md shadow-gray-400 rounded-lg uppercase bg-gradient-to-r from-green-500 to-emerald-700 text-white hover:scale-105 transition-all duration-200 ease-in-out;
    }
    .logo {
        @apply font-["Ubuntu"];
    }

    ::-webkit-scrollbar {
        width: 15px;
        cursor: pointer;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
        /* margin: 10px 0; */
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(0deg, #00b09b, #96c93d);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(0deg, #00b09b, #96c93d);
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        border-radius: 4px;
        margin-right: 2px;
        opacity: 0.6;
        filter: invert(0.8);
    }

    input[type="date"]::-webkit-calendar-picker-indicator:hover {
        opacity: 1;
    }
}
